.filters {
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.filters > div {
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}

.filters > div:first-child {
	border-right:none;
}

.filters h3 {
	font-weight: 600;
}

.filters h4 {
	font-weight: 400;
	font-size: 14px;
}
